
input{
    width: 50vw;
    max-width: 500px;
}

form{
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}

.form-container{
    margin-top: 100px ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-danger{
    background-color: red;
    color: white;
    text-align: center;
}