<app-navbar> </app-navbar>

<div class="about-container">
  <button type="button" class="btn btn-secondary" routerLink="/home">
    back
  </button>

  <h1 style="text-align: center"><B>About</B></h1>

  <section class="about-content-container">
    <article class="about-mission">
      <mat-card>
        <p>
          Our Mission is Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
          aliquid beatae enim. Maiores, amet recusandae. Quasi odit cupiditate
           repellendus, hic dolorum consequuntur, placeat amet voluptatem
          omnis non dolorem labore!
        </p>
      </mat-card>
    </article>

    <div class="about-content">
      <article>
        <mat-card>
          <h3>Products</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
            aliquid beatae enim. Maiores, amet recusandae. Quasi odit cupiditate
            cum repellendus, hic dolorum consequuntur, placeat amet voluptatem
            omnis non dolorem labore!
          </p>
        </mat-card>
      </article>

      <article>
        <mat-card>
          <h3>History</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
            aliquid beatae enim. Maiores, amet recusandae. Quasi odit cupiditate
            cum repellendus, hic dolorum consequuntur, placeat amet voluptatem
            omnis non dolorem labore!
          </p>
        </mat-card>
      </article>

      <article>
        <mat-card>
          <h3>Location</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
            aliquid beatae enim. Maiores, amet recusandae. Quasi odit cupiditate
            cum repellendus, hic dolorum consequuntur, placeat amet voluptatem
            omnis non dolorem labore!
          </p>
        </mat-card>
      </article>

      <article>
        <mat-card>
          <h3>Contact us</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
            aliquid beatae enim. Maiores, amet recusandae. Quasi odit cupiditate
            cum repellendus, hic dolorum consequuntur, placeat amet voluptatem
            omnis non dolorem labore!
          </p>
        </mat-card>
      </article>
    </div>
  </section>

  
</div>
