.dashboard-container {
  margin: 1rem;
}
.dashboard-header {
  text-align: center;
}

.table-container {
  margin: 2rem;
  padding: 1rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

 td{
   text-transform: capitalize;
 }
